
body{
    margin: 0;
    font-family:  'Roboto', Arial, sans-serif;
    font-size: 16px;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    height: 90px;
    box-sizing: border-box;
    padding: 15px 0;
    border-bottom: 5px solid #fad027;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;

}

*:focus{
    outline: 3px solid #fad027;
    outline-offset: 6.5px;
}

.header__logo{
    float: left;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
}

.title{
    margin: 0;
    font-weight: 400;
}

.header__item{
    color: #0091be;
    display: block;
    font-size: 16px;
}

.header__nav{
    float: right;
    margin-top: 15px;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.menu__item{
    display: inline-block;
    margin-left: 35px;
}

.menu__item:first-child{
    margin-left: 0;
}

.link{
    color: #000;
    text-decoration: none;
    transition: color .4s cubic-bezier(0.6, 0.17, 1, 1.3);
}

.link:hover{
    color: #0091be;
}

.clear:after{
    content: "";
    clear: both;
    display: block;
}

.banner{
    padding: 145px 0 30px;
    background-color: #0091be;
    text-align: center;
    min-width: 1200px;
}

.banner__logo{
    display:inline-block;
    vertical-align: middle;
    margin-right: 45px;
}

.banner__inner{
    display:inline-block;
    vertical-align: middle;
    width: 450px;
}

.banner__item{
    color: #fff;
    font-size: 46px;
    font-style: italic;
}

.section{
    border-bottom: 1px solid #eeeeee;
    box-shadow: inset 0px -10px 16px 0px #eeeeee;
    padding: 55px 0;
    min-width: 1200px;
}

.section__header{
    padding-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 45px;
}

.section__title{
    font-size: 35px;
}

.about__text{
    float: left;
    width: 590px;
}

p{
    line-height: 35px;
    margin: 0 0 10px;

}

.statistics{
    float: right;
    width: 585px;
}

.statistics__item{
    margin-bottom: 25px;
}

.skill{
    font-weight: bold;
    margin-bottom: 15px;
}

.skill__status{
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.skill__status::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    animation: skill 3s cubic-bezier(0.79, 0.09, 0.93, 1.29);
}

@keyframes skill {
    0% { transform: translate(100%, 0); }
	  50% { transform: translate(60%, 0); }
    120% { transform: translate(0, 0); }
}

.skill__status_blue::after{
    transform: translate(-10%, 0);
    background-color: #0091be;
}

.skill__status_green::after{
    transform: translate(-15%, 0);
    background-color: #40c95d;
}

.skill__status_yellow::after{
    transform: translate(-5%, 0);
    background-color: #d7d93f;
}

.projects{
    font-size: 0;
}

.project{
    display: inline-block;
    margin: 0 15px 15px 0;
    position: relative;
    width: 282px
}

.project:nth-child(4n+4){
    margin-right: 0;
}

.project__photo{
    max-width: 100%;
}


.project__layers{
    opacity: 0;
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #0091be;
    transition: opacity .5s cubic-bezier(1, 0.6, 0, 0.46);
}

.project__item{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project__layers:hover{
    opacity: 1;
}

.article__title{
    font-size: 30px;
    margin-bottom: 35px;
}

.article__title_s{
    max-width: 600px;
}

.post{
    display: block;
    margin-bottom: 30px;
}

.post__photo{
    min-width: 200px;
    max-width: 100%;
}

.article__date{
    float: left;
    width: 120px;
    text-align: center;
}

.article__day{
    background-color: #eeeeee;
    padding: 15px 5px;
    font-size: 14px;
}

.article__month{
    color: #ffffff;
    font-size: 14px;
    background-color: #0091be;
    padding: 5px;
}

.article__text{
    float: right;
    width: 1000px;
}

.article__footer{
    font-size: 14px;
}

.article__author{
    float: left;
}

.icon{
    display: inline-block;
    vertical-align: middle;
}

.article__label{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.icon-author{
    width: 15px;
    height: 15px;
    background: url("../images/icon-author.png") no-repeat;
}

.article__tags{
    float: right;
}

.icon-tags{
    width: 15px;
    height: 15px;
    background: url("../images/icon-tags.png") no-repeat;
}

.article__tag{
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: middle;
    padding: 2px 10px;
    background-color: #0091be;
    color: #ffffff;
}


.article__first{
    margin-top: 40px;
    float: left;
    width: 576px;
}

.article__second{
    margin-top: 40px;
    float: right;
    width: 576px;
}

.article__text-inner{
    float: right;
    width: 480px;
}

.article__date-inner{
    width: 80px;
}

.article__inner:nth-child(2n){
    margin-right: 50px;
}

.map{
    min-width: 1200px;
}

.footer{
    min-width: 1200px;
    background-color: #3c3838;
    color: #fff;
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
}

.footer__element{
    float: left;
}

.footer__element:last-child{
    float: right;
}
